fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.7.4
google-generativeai==0.3.2
python-dotenv==1.0.0
langchain==0.0.352
PyPDF2==3.0.1
faiss-cpu==1.7.4
langchain-google-genai==0.0.6
langchain-community==0.0.13
python-multipart==0.0.6
bcrypt==4.1.2
deep-translator==1.11.4
twilio==8.10.3
requests==2.31.0
python-3.11.6
